@model TouristAgency.ViewModels.Vouchers.IndexViewModel;

@{
    ViewData["Title"] = "Удаление записи";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>Вы уверены, что хотите удалить данную запись?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Vouchers.First().ID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vouchers.First().ID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vouchers.First().DateBeginning)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vouchers.First().DateBeginning)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vouchers.First().ExpirationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vouchers.First().ExpirationDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VoucherViewModel.HotelName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VoucherViewModel.HotelName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VoucherViewModel.TypeRestName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VoucherViewModel.TypeRestName)
        </dd>
        <dt>
            Список сервисов
        </dt>
        <dd>
            @foreach (var item in Model.Vouchers)
            {
                @foreach (var p in item.ServiceList)
                {
                    <li>@p.Service.Name</li>
                }
            }
        <dd>
        <dt>
            @Html.DisplayNameFor(model => model.VoucherViewModel.ClientFullName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VoucherViewModel.ClientFullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VoucherViewModel.EmployeeFullName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VoucherViewModel.EmployeeFullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vouchers.First().BookingNote)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vouchers.First().BookingNote)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vouchers.First().PaymentNote)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vouchers.First().PaymentNote)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Удалить" class="btn btn-default" /> |
        <a asp-action="Index">Вернуться к списку</a>
    </form>
</div>
