@model TouristAgency.ViewModels.Vouchers.IndexViewModel
@addTagHelper "*, TouristAgency"

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Список путёвок</h2>

<form method="get">
    <div class="form-inline">
        <label class="control-label">Код путёвки: </label>
        @Html.TextBox("id", Model.FilterViewModel.SelectedId, htmlAttributes: new { @class = "form-control" })
        <input type="submit" value="Поиск" class="btn btn-default" />
    </div>
</form>
<p>
    <a asp-action="Create">Добавить новую запись</a>
</p>
<table class="table" border="1" cellspacing="100">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.IdSort)"
                    asp-route-id="@(Model.FilterViewModel.SelectedId)">Код путёвки</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.DateBeginningSort)"
                   asp-route-id="@(Model.FilterViewModel.SelectedId)">Дата начала</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.ExpirationDateSort)"
                   asp-route-id="@(Model.FilterViewModel.SelectedId)">Дата окончания</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.HotelIDSort)"
                   asp-route-id="@(Model.FilterViewModel.SelectedId)">Название отеля</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.TypeRestIDSort)"
                   asp-route-id="@(Model.FilterViewModel.SelectedId)">Наименование типа отдыха</a>
            </th>
            <th>
                Список сервисов
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.ClientIDSort)"
                   asp-route-id="@(Model.FilterViewModel.SelectedId)">ФИО клиента</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.EmployeeIDSort)"
                   asp-route-id="@(Model.FilterViewModel.SelectedId)">ФИО работника</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.BookingNoteSort)"
                   asp-route-id="@(Model.FilterViewModel.SelectedId)">Отметка о бронировании</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.PaymentNoteSort)"
                   asp-route-id="@(Model.FilterViewModel.SelectedId)">Отметка об оплате</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Vouchers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateBeginning)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpirationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hotel.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeRest.Name)
                </td>
                <td>
                    @foreach(var p in item.ServiceList)
                    {
                        <li>@p.Service.Name</li>
                    }
                    @*@Html.ActionLink("Подробнее ", "Details", new { id = item.ID })*@
                <td>
                    @Html.DisplayFor(modelItem => item.Client.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.Fullname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookingNote)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentNote)
                </td>
                <td>
                    @Html.ActionLink("Изменить", "Edit", new {  id=item.ID  }) |
                    @Html.ActionLink("Удалить", "Delete", new {  id=item.ID })
                </td>
            </tr>
        }
    </tbody>
</table>
<page-link page-model="Model.PageViewModel" page-action="Index"
           page-url-surname="@(Model.FilterViewModel.SelectedId)"
           page-url-sortorder="@(Model.SortViewModel.Current)"></page-link>
