@using TouristAgency.Models
@using TouristAgency.ViewModels
@using TouristAgency.ViewModels.TypeRests
@model IndexViewModel
@addTagHelper "*, TouristAgency"
@{
    ViewData["Title"] = "TypeRests";
}
<h1>Список видов отдыха</h1>
<form method="get">
    <div class="form-inline">
        <label class="control-label">Номер: </label>
        @Html.TextBox("ID", Model.FilterViewModel.SelectedId, htmlAttributes: new { @class = "form-control" })

        <label class="control-label">Наименование: </label>
        @Html.TextBox("Name", Model.FilterViewModel.SelectedName,
                htmlAttributes: new { @class = "form-control" })

        <input type="submit" value="Поиск" class="btn btn-default" />
    </div>
</form>
@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Добавить новую запись</a>
    </p>
}
<table class="table" border="1" cellspacing="100">
    <thead>
        <tr>
                <th>
                    <a asp-action="Index"
                       asp-route-sortOrder="@(Model.SortViewModel.IdSort)"
                       asp-route-name="@(Model.FilterViewModel.SelectedName)"
                       asp-route-TypeRest="@(Model.FilterViewModel.SelectedId)">Номер</a>
                </th>
                <th>
                    <a asp-action="Index"
                       asp-route-sortOrder="@(Model.SortViewModel.NameSort)"
                       asp-route-name="@(Model.FilterViewModel.SelectedName)"
                       asp-route-TypeRest="@(Model.FilterViewModel.SelectedId)">Наименование</a>
                </th>
                <th>
                    Описание
                </th>
                <th>
                    Ограничения
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TypeRests) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Constraints)
            </td>
            @if (User.IsInRole("Admin"))
            {
                <td>
                    @Html.ActionLink("Изменить", "Edit", new { id = item.ID }, null) |
                    @Html.ActionLink("Удалить", "Delete", new { id = item.ID }, null)
                </td>
            }
        </tr>
}
    </tbody>
</table>

<page-link page-model="@Model.PageViewModel" page-action="Index"
           page-url-name="@(Model.FilterViewModel.SelectedName)"
           page-url-id="@(Model.FilterViewModel.SelectedId)"
           page-url-sortOrder="@(Model.SortViewModel.Current)"></page-link>
