@using TouristAgency.Models
@using TouristAgency.ViewModels
@using TouristAgency.ViewModels.Employees
@model IndexViewModel
@addTagHelper "*, TouristAgency"
@{
    ViewData["Title"] = "Employees";
}
<h1>Список работников</h1>
<form method="get">
    <div class="form-inline">
        <label class="control-label">Номер: </label>
            @Html.TextBox("ID", Model.FilterViewModel.SelectedId, htmlAttributes: new { @class = "form-control" })

        <label class="control-label">ФИО: </label>
        @Html.TextBox("FullName", Model.FilterViewModel.SelectedFullName,
                htmlAttributes: new { @class = "form-control" })

        <input type="submit" value="Поиск" class="btn btn-default" />
    </div>
</form>

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" border="1" cellspacing="100">
    <thead>
        <tr>
                <th>
                    <a asp-action="Index"
                       asp-route-sortOrder="@(Model.SortViewModel.IdSort)"
                       asp-route-fullname="@(Model.FilterViewModel.SelectedFullName)"
                       asp-route-Employee="@(Model.FilterViewModel.SelectedId)">Номер</a>
                </th>
                <th>
                    <a asp-action="Index"
                       asp-route-sortOrder="@(Model.SortViewModel.FullNameSort)"
                       asp-route-fullname="@(Model.FilterViewModel.SelectedFullName)"
                       asp-route-Employee="@(Model.FilterViewModel.SelectedId)">ФИО</a>
                </th>
                <th>
                    <a asp-action="Index"
                       asp-route-sortOrder="@(Model.SortViewModel.PositionSort)"
                       asp-route-fullname="@(Model.FilterViewModel.SelectedFullName)"
                       asp-route-Employee="@(Model.FilterViewModel.SelectedId)">Должность</a>
                </th>
                <th>
                    <a asp-action="Index"
                       asp-route-sortOrder="@(Model.SortViewModel.AgeSort)"
                       asp-route-fullname="@(Model.FilterViewModel.SelectedFullName)"
                       asp-route-Employee="@(Model.FilterViewModel.SelectedId)">Возраст</a>
                </th>
                <th>
                    Телефон
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Employees) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fullname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telephone)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
<page-link page-model="@Model.PageViewModel" page-action="Index"
           page-url-fullname="@(Model.FilterViewModel.SelectedFullName)"
           page-url-id="@(Model.FilterViewModel.SelectedId)"
           page-url-sortOrder="@(Model.SortViewModel.Current)"></page-link>
