@model TouristAgency.Models.ServiceList

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ServiceList</h4>
    <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ID)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ID)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ServiceID)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ServiceID)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.VoucherID)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.VoucherID)
            </dd>
        </dl>

    <form asp-action="Delete" method="post">
    <input type="submit" value="Delete" class="btn btn-default" /> |
    <a asp-action="Index">Back to List</a>
    </form>
</div>
